@import "tailwindcss";

@tailwind base;

@theme {
  --color-background: #ffffff;
  --color-group-background: #f2f2f7;
  --color-foreground: #000000;

  --color-primary: #000000;
  --color-secondary: #8e8e93;
  --color-accent: #007aff;

  --color-border: #d8d8dc;
}

@layer theme {
  .dark {
    --color-background: #000000;
    --color-group-background: #1c1c1e;
    --color-foreground: #ffffff;

    --color-primary: #ffffff;
    --color-secondary: #8e8e93;
    --color-accent: #0a84ff;

    --color-border: #3a3a3c;
  }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff0000; /* noticeable if anything doesn't use custom component */
}
