@import "tailwindcss";

@tailwind base;

@theme {
    --color-background: #f2f2f7;
    --color-group-background: #ffffff;
    --color-foreground: #000000;

    --color-primary: #000000;
    --color-secondary: #8e8e93;
    --color-accent: #007aff;

    --color-border: #d8d8dc;
    --color-shadow: #00000020;
}

:root {
    color: #ff0000; /* noticeable if anything doesn't use custom component */
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
